{
    "processors": ["stylelint-processor-styled-components"],
    "extends": "stylelint-config-standard",
    "syntax": "scss",
    "rules": {
        "indentation": 4,
        "no-eol-whitespace": [ true, {
            "ignore": ["empty-lines"]
        } ]
    }
}